# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Hardware vendor
#
# Options are:
# * raspberrypi - For Raspberry Pi based gateways
# * wifx        - For the LORIX One gateway
VENDOR = "raspberrypi"

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/layers/targets/meta-${VENDOR} \
  ##OEROOT##/layers/bsp/meta-${VENDOR} \
  ##OEROOT##/layers/loraserver/meta-tools \
  ##OEROOT##/layers/loraserver/meta-semtech \
  ##OEROOT##/layers/loraserver/meta-loraserver \
  ##OEROOT##/layers/openembedded/meta-openembedded/meta-networking \
  ##OEROOT##/layers/openembedded/meta-openembedded/meta-filesystems \
  ##OEROOT##/layers/openembedded/meta-openembedded/meta-python \
  ##OEROOT##/layers/openembedded/meta-openembedded/meta-oe \
  ##OEROOT##/layers/openembedded/openembedded-core/meta \
"
