# Leave this to 'lora-gateway-os"
DISTRO = "lora-gateway-os"

# Select the target machine.
#
# Options are (per vendor configured in bblayers.conf):
#
# Vendor: raspberrypi
#         * raspberrypi3
#
# Vendor: wifx
#         * sama5d4-lorix-one-512-sd
#         * sama5d4-lorix-one-sd
MACHINE = "raspberrypi3"

# Parallel executed tasks
BB_NUMBER_THREADS ?= "${@oe.utils.cpu_count()*2}"
PARALLEL_MAKE ?= "-j ${@oe.utils.cpu_count()*2}"

# Deploy dir
#
# This is the place where you will find the build artifacts.
TMPDIR = "${TOPDIR}/tmp/${VENDOR}/${MACHINE}"
DEPLOY_DIR = "${TMPDIR}/deploy/${DISTRO_VERSION}"
DEPLOY_DIR_IMAGE = "${DEPLOY_DIR}/images"
